*{
    margin:0;
    padding:0;
}
#navbar_container{
    width:100%;
    background-color: rgba(0,0,0, 0.4);
    padding: 0.25rem 0;
    
}

.navbar{ 
    width:80%;
    margin: 10px auto;
    display:flex;
    flex-wrap:wrap;
    
}

.logo{
    display:flex;
    justify-content:center;
    align-items:center;
    width:40%;
    color: #fff;
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Syne Tactile', cursive;
}
.nav_content{
    width:40%;
    margin: 1rem auto;
    display:flex;
    justify-content: flex-end;
    

}
.nav_content a{
    text-decoration: none;
    margin: 1rem;
    color:#fff;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    
}
.nav_content a:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.close_container{
    position: absolute;
    top: -1000px;
}
.ham_container{
    position: absolute;
    top: -1000px;
}
.navbar_phone{
    position:absolute;
    left:0;
    top:-10000px;
    background-color: rgba(0,0,0, 0.7);
    width:100%;
    height: auto;
    
    z-index:5;
} 

@media screen and (max-width: 768px){
    .navbar{ 
        margin:0 auto;
        
    }
    .logo{

        font-size: 1.25rem;
        margin: 0.5rem auto;
    }
    .nav_content a{ 
        margin: 0.5rem;
        font-size: 1rem;
        z-index:-3;
        
        
    }

    /* navebar in phone vertsion */
   
    .nav_content_phone{
        text-decoration: none;
        margin: 1rem auto;
        width:100%;
        text-align:center;
        color:#fff;
        font-size: 1.5rem;
        font-family: 'Oswald', sans-serif;
    }
    .nav_content_phone a{
        display:block;
        text-decoration: none;
        margin: 3rem;
        color:#fff;
        font-size: 2rem;
        font-family: 'Oswald', sans-serif;
    }
    .nav_content_phone a:hover{
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
    } 
    /* close hambuger */
    .close_container{
        position: absolute;
        top: 17px;
    }
    .ham_container{
        position: absolute;
        top: 17px;
        
    }
    
    .close{
        position: absolute;
        left:3px;
        color:#fff;
        font-size: 2rem;
        cursor: pointer;
        font-family: 'Lato', sans-serif;
        z-index:-2;
    }
    .close-ham{
        
        position: relative;
        display:flex;
        align-items:center;
    }
    .fa-bars{
        
        cursor: pointer;
        color:#fff;
        font-size: 2rem;
    }
}
/* header */
#header{
    width:100%;
    background-color: rgba(0,0,0, 0.4);
    width:100%;
    height: 29.3rem;

}
.intro_pic{
    width:100%;
    height: auto;
    z-index: -2;
    position: fixed;
    top:0;
    left:0;
    

}
.intro_pic img{
    width:100%;
    height: 37rem;
   
    
}

.intro{
    
    width:100%;
    height: 10rem;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:end;
    
}
.intro h1 {
    color:rgba(255,255,255, 0.8);
    font-family: 'Lato', sans-serif;
    font-size: 5rem;

}
.intro h2{
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0.2em #fff;
}
@media Screen and (max-width:768px) {
    .intro h1 {
       
        font-size: 2rem;
    
    }
    .intro h2{
        
        font-size: 1rem;
        
    }
    .intro{

        height: 5rem;
 
    }
    .intro_pic img{
        width:100%;
        height: 37rem;
       
        
    }
}
/* about */

#about{
    width:100%;
    background-color:#fff;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    padding: 0;
    
    
    


}
.about_cotain{
    width:80%;
    
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem auto;
    
}
.wall_img{
    width:40%;
   
    display:flex;
    align-items:center;
    justify-content:center;
}
.wall_img img{
    max-width:80%;
    height:auto;
    border-radius: 5px;
    
}
.about_content{
    width:40%;
    margin: 0;
}
.about_content p{
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    line-height: 2;
    color: #212025;
   
}
.bout{
    text-align:center;
    width:100%;
    padding: 2rem 0;
    font-size:1.5rem;
    font-family: 'Lato', sans-serif;
    margin:0;
    font-weight:bold;
}
@media Screen and (max-width:768px) {
    .wall_img{
        width:100%;
        margin: 0.5rem;
       
    }
    .about_content{
        width:100%;
        margin: 0.5rem;
        
    }
    .bout{
        font-size:1rem;
        margin: 0.5rem;
    }
    .about_content p{
        font-size: 0.75rem;
        
       
    }
}
/* service */
#services{
    width:100%;
    margin: 0;
    background-color: #fffcf9;

}
.service-title{
    text-align:center;
    width:100%;
    padding: 1rem 0;
    color:#000;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}
.service_contain{
    margin-top:2rem;
   
    
}
.price{
    
    font-size: 1.5rem;
    font-weight:bold;
    color: #d19f68 !important;
}
th{
    font-weight: bold;
    font-size: 1.75rem;
}
tr{
    text-align:center;
}
td{
    
    border:none;
    padding: 0.25rem;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: #212025;
    line-height: 1.5;
}

@media Screen and (max-width:768px) {
   .service-title{
    font-size:1rem;
    
   }

    .price{
        font-size: 0.75rem;
    }
    th{
        font-size: 1rem;
    }
  
    td{
        font-size: 0.65rem; 
        
    }
}
/* gallery */
#gallery{
    width:100%;
    background-color: #fff;

}
.gallery-title{
    text-align:center;
    width:100%;
    padding: 2rem 0;
    color:#000;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem; 
}
.gallery_sub{
    display:flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 1.5rem auto;
    text-align:center;
    margin-bottom: 0;

}
.gallery_sub div{
    width: 48.25%;
    cursor:pointer;
    margin: 0.2rem;
    position: relative;
    
}


.pic1:hover .fade{
    width: 95%;
    height: 95%;
    border-radius: 5px;
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    transition: 1s
    
}
.pic1:hover img{
    width: 95%;
    height: 95%;
    
    
    
}

.gallery_sub div img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: 0.5s
    
    
}
@media Screen and (max-width:768px) {
    .gallery-title{
        font-size:1rem;
    }
  
    .gallery_sub div{
        width: 100%;
      
    }
    
}
/* footer */
#footer{
    width:100%;
    position: relative;

}
.img-footer{
    width:100%;
    height: 30%;

    
}
.img-footer img{
    width:100%;
    height:10rem;
    
    
}
.footer-words{
    
    position: absolute;
    width:100%;
    height:100%;
    top: 0; 
    left:0;
  
    display:flex;
    justify-content:center;
    align-items:center;

}
.footer-words strong{
    color:rgba(255,255,255, 0.8);
    font-size:1rem;
    font-family: 'Lato', sans-serif;
}
.img-footer span{ 
    width: 100%;
    height: 100%;
  
    background-color:rgba(0,0,0,0.8);
    position: absolute;
    top:0;
    left:0;
    transition: 1s
}




   
    
